textarea 
{
	display : block;
	margin-top: .8em;
	margin-bottom: .8em;
	width: 43em;
	height: 10em;
}

form
{
  margin-top: .95em;
}

span.error
{
  color: white;
  background-color: #113422;
  border: 1px solid black;
  border-radius: 4px;
  padding: .3em 4em;
}

pre 
{
	margin-top: 1.2em;
}

.task-completed
{
	text-decoration: line-through;
	color: #9e9e9e;
}

ul {
  margin-top: 2em;
}

ul li
{
  margin-bottom: .8em;
  display: block;
}

ul li button {
  margin-left: .7em;
}

h2 {
  margin-top: 1.8em;
}

div.task-section
{
  margin-bottom: 5em;
}

div.task-section input
{
  height: 3em;
  width: 30%;
  padding: .8em;
}
